@model IEnumerable<Vidly.Models.Customer>
<h1>
    Hello World
   
      
</h1>

@foreach (var customer  in Model)
{
    <p> @customer.Id | @customer.Name</p>       
            
}

<P> SDFDSFDSF</P>
    